.buttonStyle {
    width: 43vw;
    height: 4vh;
    background-color: #684c38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

:hover.buttonStyle {
    background-color: #8B4513;
}