.containerSectionMain {
    height: 100vh; 
    position: relative; 
    overflow: hidden; 
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/woman-washing-hair-customer.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0; 
}

.containerTitle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 2rem; 
    z-index: 1;
    margin-right: 8%;

    & h1 {
        font-size: 14rem;
        font-weight: 900;
    }
}

.containerSectionSecond {
    display: flex;
    justify-content: center;
    color: #684c38;
    padding: 5rem 2rem; 
    background-color: white; 
    position: relative;
    z-index: 2; 

    & h2 {
        font-size: 58px;
        font-weight: 800;
    }
}

.containerAbout {
    display: flex;
    justify-content: center;
    gap: 50px;

    padding-top: 30px;
    margin-left: 25%;
}

.aboutImg {
    width: 25vw;
}

.paddingText {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-right: 25%;
}

.containerService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;

    background-color: #684c38;
    padding-top: 58px;
    padding-bottom: 58px;

    & h2 {
        font-size: 58px;
        color: white;
    }

    & span {
        font-size: 32px;
        color: white;
        font-weight: 100\;
    }
}

.subContainerService {
    display: flex;
}

.service {
    display: flex;
    flex-direction: column;
}

.saleService {
    display: flex;
    flex-direction: column;
}

.containerSectionForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-top: 58px;

    & h2 {
        color: #684c38;
        font-size: 58px;
    }
}

.containerForm {
    display: flex;
    flex-direction: row;

    gap: 52px;
}

.containerInput {
    display: flex;
    flex-direction: column;
}

.firstInput {
    width: 20vw;
    height: 3.5vh;
}

.secondInput {
    padding-top: 16px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputEmail {
    width: 43vw;
    height: 3.5vh;
}

.inputMensagem {
   height: 16vh;
   resize: vertical;
   font-family: 'Inter', sans-serif;
   padding-left: 8px;
   padding-top: 8px;
}